USE [master]
GO
/****** Object:  Database [KMSDB]    Script Date: 07/23/2025 10:05:11 ******/
CREATE DATABASE [KMSDB] ON  PRIMARY 
( NAME = N'KMSDB', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\KMSDB.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'KMSDB_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\KMSDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KMSDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KMSDB]
GO
/****** Object:  UserDefinedFunction [dbo].[PadInt]    Script Date: 07/23/2025 10:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[PadInt](@input INT, @length INT)
RETURNS VARCHAR(20)
AS BEGIN
    DECLARE @Result VARCHAR(20)

    DECLARE @Padding VARCHAR(20) 
    SELECT @Padding = REPLICATE('0', @Length)

    SELECT @Result = RIGHT(@Padding + CAST(@Input AS VARCHAR(20)), @Length)
    RETURN @Result
END
GO
/****** Object:  Table [dbo].[tblShareData]    Script Date: 07/23/2025 10:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblShareData](
	[pkId] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProjectName] [nvarchar](50) NULL,
	[ProjectCode] [nvarchar](50) NULL,
	[TotalParticipant] [nvarchar](5) NULL,
	[RequiredParticipant] [nvarchar](5) NULL,
	[CodeMessage] [nvarchar](256) NULL,
	[EncryptedMessage] [nvarchar](256) NULL,
	[SharesList] [nvarchar](max) NULL,
	[DateCreated] [nvarchar](20) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[isActive] [nvarchar](2) NULL,
 CONSTRAINT [PK_tblShareData] PRIMARY KEY CLUSTERED 
(
	[pkId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblShareData] ON
SET IDENTITY_INSERT [dbo].[tblShareData] OFF
/****** Object:  StoredProcedure [dbo].[Proc_GetPrj]    Script Date: 07/23/2025 10:05:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Proc_GetPrj](
	-- Add the parameters for the stored procedure here
	@resultType nvarchar(2),
	@ProjectCode nvarchar(50),
	@Error varchar(500) OUT
)
AS
BEGIN

    BEGIN TRY             
        BEGIN TRANSACTION  

    if(@resultType='1')
BEGIN
select projectName,ProjectCode,TotalParticipant,RequiredParticipant,CodeMessage,EncryptedMessage,SharesList,isActive from tblsharedata;
set @Error = 'SUCCESS';
		print(@Error);	
END
else if(@resultType='2')
BEGIN
select projectName,ProjectCode,TotalParticipant,RequiredParticipant,CodeMessage,EncryptedMessage,SharesList,isActive from tblsharedata where ProjectCode = @ProjectCode;
set @Error = 'SUCCESS';
		print(@Error);	
END


COMMIT TRANSACTION  
     END TRY      

BEGIN CATCH             
      IF @@TRANCOUNT > 0         
                
         ROLLBACK TRANSACTION            
      -- Raise an error with the details of the exception             
      DECLARE @ErrMsg nvarchar(4000), @ErrSeverity int             
      SELECT @ErrMsg = ERROR_MESSAGE(),             
             @ErrSeverity = ERROR_SEVERITY()             
      RAISERROR(@ErrMsg, @ErrSeverity, 1)  
      
      set @Error = 'ERROR';
		print(@Error);           
    END CATCH                 	
END
GO
/****** Object:  StoredProcedure [dbo].[Proc_Creation]    Script Date: 07/23/2025 10:05:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Proc_Creation](
	-- Add the parameters for the stored procedure here
	@ProjectName nvarchar(50),
	@TotalParticipant nvarchar(10),
	@RequiredParticipant nvarchar(10),
	@CodeMessage nvarchar(256),
	@EncryptedMessage nvarchar(256),
	@SharesList nvarchar(max),
	@Error varchar(500) OUT
)
AS
BEGIN

    BEGIN TRY             
        BEGIN TRANSACTION  

    Declare @project_Code varchar(20);	
	Declare @project_CodeNew varchar(20);	
	
	SET NOCOUNT ON;

set @project_Code = (SELECT dbo.PadInt(COALESCE(max(pkId) +1 , 1),5) FROM dbo.tblShareData);
print @project_Code ;

set @project_CodeNew = 'PRJ'+@project_Code;
print @project_CodeNew ;

	insert into tblShareData (ProjectName,ProjectCode,TotalParticipant,RequiredParticipant,CodeMessage,EncryptedMessage,SharesList,DateCreated,CreatedBy,isActive)
	values
	(@ProjectName,@project_CodeNew,@TotalParticipant,@RequiredParticipant,@CodeMessage,@EncryptedMessage,@SharesList,getdate(),'User1','Y');

	set @Error = 'Success';

COMMIT TRANSACTION  
     END TRY      

BEGIN CATCH             
      IF @@TRANCOUNT > 0         
                
         ROLLBACK TRANSACTION            
      -- Raise an error with the details of the exception             
      DECLARE @ErrMsg nvarchar(4000), @ErrSeverity int             
      SELECT @ErrMsg = ERROR_MESSAGE(),             
             @ErrSeverity = ERROR_SEVERITY()             
      RAISERROR(@ErrMsg, @ErrSeverity, 1)  
      
      set @Error = 'ERROR';
		print(@Error);           
    END CATCH                 	
END
GO
